<div class="content">
  <mat-card class="card-dealer">
    <div class="badge-card">1 วันที่ผ่านมา</div>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
    </mat-card-header>
    <img class="img-profile" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <mat-card-title>Shiba Inu</mat-card-title>
      <p>
        ไข่ไก่ 30 แผง
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="btn-card" mat-raised-button color="primary">ดูรายการไข่</button>
    </mat-card-actions>
  </mat-card>

</div>
